.add-product-container {
  width: 70%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.form-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: #333;
}

.add-product-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-group input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
 justify-content: space-evenly;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.checkbox-group input {
  margin-right: 5px;
}



.submit-button {
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #6200ea;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #3700b3;
}

/* Media Queries */
@media (max-width: 768px) {
  .add-product-form {
    gap: 15px;
  }

  .flex-row {
    flex-direction: column;
  }

  .form-group input {
    font-size: 0.9rem;
  }

  .submit-button {
    font-size: 0.9rem;
  }
}
